
  .row {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    
  }
  
  
    .row > div {
      background-color: #f7f7f7;
      width: 310px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
      padding: 5px;
    }
  

    
    a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: rgb(62, 147, 99);
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }
  
    